<div class="message">
	<a href="" class="message_profile-pic"></a>
	<a href="" class="message_username"><%= message.user.try(:email) %></a>
	<span class="message_timestamp">
		<%= message.created_at %>
	</span>
	<span class="message_star"></span>
	<span class="message_star">
		<%= message.content %>
	</span>
</div>